@{
  Layout = "_Layout";
}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>OMG OMG</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/styles.css">
  </head>
  <body>
    <h1>Welcome to OMG!</h1>
    <h2><em>the </em>Order Management Guru!</h2>
    <h3><a href='/vendors'>View Vendors</a></h3>
    <h3><a href='/vendors/new'>Add a New Vendor</a></h3>
  </body>
</html>